<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Product Index Page</h1>

      <%

        for(i=0; i<allProducts.length; i++){ %>
          <img src="<%=allProducts[i].img%>"/><br/>
          <p><a href="/Project2/<%=[i]%>">Check it out</p>

      <%  } %>

  </body>
</html>
