<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Agora</h1>
    <ul>
      <li>
        <a href="/session/new">Log In</a>
      </li>
      <li>
        <a href="/users/new">Sign Up</a>
      </li>
    </ul>
  </body>
</html> -->
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Your Page Title Here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <!-- <link rel="stylesheet" href="stylesheets/base.css"> -->
    <!-- <link rel="stylesheet" href="./css/skeleton.css"> -->
    <!-- <link rel="stylesheet" href="stylesheets/layout.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/1d3cdd93e8.js" crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,800' rel='stylesheet' type='text/css'>

    <link rel="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" href="/css/master.css">

    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

  <header id="header" class="sixteen columns module">
    <div class="bg transition"></div>
    <div id="logo"><span>Agora</span></div>
    <nav>
      <ul class="eight columns">
        <li class="scroll transition"><a href="/Project2">Home</a></li>


      </ul>
    </nav>
  </header>

  <br class="clear" />


  <div class="container">

  <div class="sixteen columns module">
    <h2 class="fade1" "fade-in"> You can reach me here</h2>
    <br/>
      <a href="https://www.linkedin.com/in/jesusvasquez300/">
        <i class="fab fa-linkedin-in fa-8x"></i>
      </a>
        <br/>

  </div> <!-- Banner Image-->

    <br class="clear" />

  </div> <!--End of Container -->
<!-- End Document
================================================== -->
</body>
</html>
