<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Editing Page</h1>
    <form action="/Project2/<%=index%>?_method=PUT" method="POST">

		Image address: <input type="text" name="img" value="<%=upcomingProduct.img%>"/><br/>
		Name: <input type="text" name="name" value="<%=upcomingProduct.name%>"/><br/>
		Details:<input type="text" name="details" value="<%=upcomingProduct.details%>"/><br/>

		<input type="submit" name="" value="Submit Changes"/>
        </form>
  </body>
</html>
